mat-form-field
	mat-label Результаты
	mat-select(
		[(value)]='leaderboardSelectedMode'
	)
		mat-option(
			*ngFor='let mode of leaderboarbModes;',
			'[value]'='mode'
		) {{mode.title}}

.segment_details-wrapper
	common-table(
		*ngIf='leaderboardSelectedMode.id === "all"'
		'[data]'='data.leaderboard'
		'[fields]'='allFields'
		classes='leaderboard'
	)

	common-table(
		*ngIf='leaderboardSelectedMode.id === "my"'
		'[data]'='data.myEfforts'
		'[fields]'='myFields'
		classes='leaderboard'
	)

	agm-map(
		'[latitude]'='data.map.end_latitude'
		'[longitude]'='data.map.start_longitude'
		mapTypeId='terrain'
		'[zoom]'='12'
		class='map'
		'[streetViewControl]'='false'
	)
		agm-polyline(
			strokeColor='red'
			strokeWeight='4'
		)
			agm-polyline-point(
				*ngFor='let point of data.map.route'
				'[latitude]'='point.lat'
				'[longitude]'='point.lng'
			)
