mat-form-field
	mat-label Результаты
	mat-select(
		[(value)]='leaderboardSelectedMode'
	)
		mat-option(
			*ngFor='let mode of leaderboarbModes;',
			'[value]'='mode'
		) {{mode.title}}

div(
	*ngIf='screenState.isMobile'
)
	common-table(
		*ngIf='leaderboardSelectedMode.id === "all"'
		'[data]'='data.leaderboard'
		'[fields]'='mobileAllFields'
		classes='leaderboard small_table'
		isWithoutSeconds='true'
	)

	common-table(
		*ngIf='leaderboardSelectedMode.id === "my"'
		'[data]'='data.myEfforts'
		'[fields]'='mobileMyFields'
		classes='leaderboard small_table'
		isWithoutSeconds='true'
	)

.segment_details-wrapper(
	*ngIf='!screenState.isMobile'
)
	common-table(
		*ngIf='leaderboardSelectedMode.id === "all"'
		'[data]'='data.leaderboard'
		'[fields]'='generalAllFields'
		classes='leaderboard'
	)

	common-table(
		*ngIf='leaderboardSelectedMode.id === "my"'
		'[data]'='data.myEfforts'
		'[fields]'='generalMyFields'
		classes='leaderboard'
	)

	agm-map(
		'[latitude]'='data.map.end_latitude'
		'[longitude]'='data.map.start_longitude'
		mapTypeId='terrain'
		'[zoom]'='12'
		class='map'
		'[streetViewControl]'='false'
	)
		agm-polyline(
			strokeColor='red'
			strokeWeight='4'
		)
			agm-polyline-point(
				*ngFor='let point of data.map.route'
				'[latitude]'='point.lat'
				'[longitude]'='point.lng'
			)
