.common-table(class='{{classes}}')
	.title {{title}}

	mat-table.mat-elevation-z8(
		[dataSource]='dataSource'
		matSort
		multiTemplateDataRows
	)

		ng-container(
			*ngIf='expandableParams'
			matColumnDef='expandedDetail'
		)
			mat-cell(
				*matCellDef='let element'
			)
				.detail_spinner-wrapper
					mat-progress-spinner(
						*ngIf='element.isLoading'
						mode='indeterminate'
						diameter='20'
					)
				ng-template(
					add-content
				)

		ng-container(
			*ngFor='let field of fields; let i = index;'
			matColumnDef='{{field.fieldName}}'
		)
			mat-header-cell(
				*matHeaderCellDef
				mat-sort-header
			) {{field.title}}

			mat-cell(
				*matCellDef='let element'
			)
				span([ngSwitch]='field.type')
					span(*ngSwitchCase="'link'")
						a.link(
							[href]='element.url'
							target='_blank'
						) {{element[field.fieldName]}}

						.additional_field(
							*ngIf='field.additionalField'
						) {{element[field.additionalField.fieldName]}}

						div(
							*ngIf='field.additionalLinks'
						)
							.additional_link(
								*ngFor='let additionalLink of field.additionalLinks;'
							)
								a.link(
									'[href]'='getAdditionalLink(additionalLink.url, element.id)'
									target='_blank'
								) {{additionalLink.name}}

					span(*ngSwitchCase="'time'")
						span([innerHtml]='element[field.fieldName] | tableTimeFieldFormatter: isWithoutSeconds')

					span(*ngSwitchDefault) {{element[field.fieldName]}}

		mat-header-row(
			*matHeaderRowDef='displayedColumns'
		)

		mat-row(
			*matRowDef='let element; columns: displayedColumns;'
			'(click)'='toggleRow(element)'
			'[class.mat-expanded-row]'='expandedItem === element'
		)

		ng-container(
			*ngIf='expandableParams'
		)
			mat-row(
				*matRowDef="let row; columns: ['expandedDetail']"
				class='mat-detail-row'
			)
